<!-- <div #LocationComponent >
<div class="col-md-12">
    <a href="javascript:void(0)" class="cperson">Contact Person</a>
  </div>
  <br>
  <br>
  <div class="col-md-12 topclas">
  <div class="col-md-2">
    <div class="form-group">
      <label >Profile ID</label>
      <input type="text" class="form-control " placeholder="311234421">
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label >Date Of Reg</label>
      <select class="form-control" >
        <option>5-11-18</option>
        <option>5-11-18</option>
        <option>5-11-18</option>
      </select>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label >Gender</label>
      <select class="form-control" >
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>
  </div>
  <div class="col-md-2 matchas">
   <button type="button" class="btn smatc">Show Matches</button>
  </div>
  <div class="col-md-2">
      <button type="button" class="btn smatc">He is Matched To</button>
     </div>
  </div> -->
  <div class="row astrocontent" id="locationdetails">
    <!-- <div class="col-md-3" id="commoncss">
        <nav class="navbar navbar-inverse" >
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                <li><a href="javascript:void(0)" (click)="sidemenuredirect('mybasic')"  [class]="this.BackGroundColor===1?'backclass' :'backwhite' ">My Basics</a></li>
                <li><a href="javascript:void(0)" [routerLink] = "['/astro']" [class]="this.BackGroundColor===2?'backclass' :'backwhite' ">My Astro Info</a></li>
                <li><a href="javascript:void(0)" (click)="sidemenuredirect('myeducation')" [class]="this.BackGroundColor===3?'backclass' :'backwhite' ">My Education</a></li>
                <li><a href="javascript:void(0)" (click)="sidemenuredirect('mylocation')" [class]="this.BackGroundColor===4?'backclass' :'backwhite' ">My Location</a></li>
                <li><a href="javascript:void(0)" (click)="sidemenuredirect('mycontacts')" [class]="this.BackGroundColor===5?'backclass' :'backwhite' ">My Contacts</a></li>
                <li><a href="javascript:void(0)" (click)="sidemenuredirect('mypreference')" [class]="this.BackGroundColor===6?'backclass' :'backwhite' ">My Preference</a></li>
                <li><a href="javascript:void(0)" (click)="sidemenuredirect('myspouse')" [class]="this.BackGroundColor===7?'backclass' :'backwhite' ">My Spouse</a></li>
                <li><a href="javascript:void(0)" (click)="sidemenuredirect('mybrother')" [class]="this.BackGroundColor===8?'backclass' :'backwhite' ">My Brother</a></li>
                <li><a href="javascript:void(0)" (click)="sidemenuredirect('mysister')" [class]="this.BackGroundColor===9?'backclass' :'backwhite' ">My Sister</a></li>
                <li><a href="javascript:void(0)" (click)="sidemenuredirect('myfather')" [class]="this.BackGroundColor===10?'backclass' :'backwhite' ">My Father</a></li>
                <li><a href="javascript:void(0)" (click)="sidemenuredirect('fatherside')" [class]="this.BackGroundColor===11?'backclass' :'backwhite' ">Father Side</a></li>
                <li><a href="javascript:void(0)" (click)="sidemenuredirect('mymother')" [class]="this.BackGroundColor===12?'backclass' :'backwhite' ">My Mother</a></li>
                <li><a href="javascript:void(0)" (click)="sidemenuredirect('motherside')" [class]="this.BackGroundColor===13?'backclass' :'backwhite' ">Mother Side</a></li>
                <li><a href="javascript:void(0)" (click)="sidemenuredirect('myfactsheet')" [class]="this.BackGroundColor===14?'backclass' :'backwhite' ">My Fact Sheet</a></li>
              </ul>
            </div>
          </nav>
    </div> -->
    <div class="col-md-8 asdetail">
        <h5>Currently Residing Details</h5>
        <br>
            <form class="bodydetails">
  <div class="col-md-4">
      <div class="form-group">
          <input type="radio" name="gender" value="male"> India
          <input type="radio" name="gender" value="female"> Abroad
</div>
              <div class="form-group">
                <label class="lablena">State</label>
                <select class="form-control nameia" >
                  <option>Andra</option>
                  <option>Telangana</option>
                  <option>Tamilnadu</option>
                </select>
              </div>
              <div class="form-group">
                <label class="lablena">District</label>
                <select class="form-control nameia" >
                  <option>hyd</option>
                  <option>vj</option>
                  <option>guntur</option>
                </select>
              </div>
              <div class="form-group">
                <label class="lablena">Place</label>
                <select class="form-control nameia" >
                  <option>Kadapa</option>
                  <option>Hyderabad</option>
                  <option>Bangalore</option>
                </select>
              </div>
            </div>
            </form>
    </div>
    </div>
  <!-- </div> -->