<div class="row astrocontent" id="Myfatherdetails">

  <div class="col-md-8 asdetail">
    <h5>My Father</h5>
    <br>
    <form class="bodydetails">
      <div class="col-md-12">
        <div class="col-md-6">
      <div class="form-group">
        <label class="fatherna">Name</label>
        <input type="text" class="form-control fatheria">
      </div>
      <div class="form-group">
        <label class="fatherna">Education</label>
        <input type="text" class="form-control fatheria">
      </div>
      <div class="form-group">
        <label class="fatherna">Profession</label>
        <input type="text" class="form-control fatheria">
      </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fatherna">Phone</label>
            <input type="text" class="form-control fatheria">
          </div>
          <div class="form-group">
            <label class="fatherna">Email</label>
            <input type="text" class="form-control fatheria">
          </div>
          <div class="form-group">
            <label class="fatherna">Family Background</label>
            <select class="form-control fatheria">
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
        </div>
      </div>
    
      <div class="col-md-12">
          <br>
          <h5 class="ffdetails">Father's Father Details</h5>
          <br>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fatherna">Name</label>
            <input type="text" class="form-control fatheria">
          </div>
          <div class="form-group">
            <label class="fatherna">Phone</label>
            <input type="text" class="form-control fatheria">
          </div>
          <div class="form-group">
            <label class="fatherna">Email</label>
            <input type="text" class="form-control fatheria">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fatherna">State</label>
            <select class="form-control fatheria">
              <option>Andra</option>
              <option>Telangana</option>
              <option>Karnataka</option>
            </select>
          </div>
          <div class="form-group">
            <label class="fatherna">District</label>
            <select class="form-control fatheria">
              <option>hyd</option>
              <option>vj</option>
              <option>guntur</option>
            </select>
          </div>
          <div class="form-group">
            <label class="fatherna">Native</label>
          <textarea class="form-control fathertext" rows="5" id="comment" placeholder="Bengalore"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
