<div class="container" id="paymentdetails">
  <h2>Payment Details</h2>
  <br>
  <form>
    <div class="form-group">
      <label class="lablen">Report Type</label>
      <select class="form-control namei" >
        <option>Daily</option>
        <option>weekly</option>
        <option>monthly</option>
      </select>
    </div>
    <div class="form-group">
      <label class="lablen">Branch</label>
      <select class="form-control namei" >
        <option>hyd</option>
        <option>vj</option>
        <option>guntur</option>
      </select>
    </div>
    <div class="form-group">
      <label class="lablen">From Date</label>
      <select class="form-control namei" >
        <option>1-12-2019</option>
        <option>1-12-2019</option>
        <option>1-12-2019</option>
      </select>
    </div>
    <div class="form-group">
      <label class="lablen">To Date</label>
      <select class="form-control namei" >
        <option>1-12-2019</option>
        <option>1-12-2019</option>
        <option>1-12-2019</option>
      </select>
    </div>
  </form>
</div>