
<!-- <div class="col-md-12">
  <a href="javascript:void(0)" class="cperson">Contact Person</a>
</div> -->
<!-- <br>
<br>
<div class="col-md-12 topclas">
<div class="col-md-2">
  <div class="form-group">
    <label >Profile ID</label>
    <input type="text" class="form-control " placeholder="311234421">
  </div>
</div>
<div class="col-md-2">
  <div class="form-group">
    <label >Date Of Reg</label>
    <select class="form-control" >
      <option>5-11-18</option>
      <option>5-11-18</option>
      <option>5-11-18</option>
    </select>
  </div>
</div>
<div class="col-md-2">
  <div class="form-group">
    <label >Gender</label>
    <select class="form-control" >
      <option>Male</option>
      <option>Female</option>
    </select>
  </div>
</div>
<div class="col-md-2 matchas">
 <button type="button" class="btn smatc">Show Matches</button>
</div>
<div class="col-md-2">
    <button type="button" class="btn smatc">He is Matched To</button>
   </div>
</div> -->
<div class="row astrocontent" id="astrodetails">

  <div class="col-md-8 asdetail">
      <h5>Astro Details</h5>
      <br>
      <br>
          <form class="bodydetails">
<div class="col-md-6">
            <div class="form-group">
              <label class="lablena">DOB</label>
              <select class="form-control nameia" >
                <option>5-11-18</option>
                <option>5-11-18</option>
                <option>5-11-18</option>
              </select>
            </div>
            <div class="form-group">
              <label class="lablena">Place Of Birth</label>
              <select class="form-control nameia" >
                <option>hyd</option>
                <option>vj</option>
                <option>guntur</option>
              </select>
            </div>
            <div class="form-group">
              <label class="lablena">Time Of Birth</label>
              <select class="form-control nameia" >
                <option>16:18:00</option>
                <option>16:18:00</option>
                <option>16:18:00</option>
              </select>
            </div>
            <div class="form-group">
              <label class="lablena">Star Language</label>
              <select class="form-control nameia" >
                <option>Telugu</option>
                <option>Tamil</option>
                <option>Kannada</option>
              </select>
            </div>
            <div class="form-group">
                <label class="lablena">Star</label>
                <select class="form-control nameia" >
                  <option>star</option>
                  <option>star</option>
                  <option>star</option>
                </select>
            </div>
            <div class="form-group">
                  <label class="lablena">Padam</label>
                  <select class="form-control nameia" >
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
            </div>
            <div class="form-group">
                    <label class="lablena">User Name</label>
                    <input type="text" class="form-control nameia">
            </div>
            <div class="form-group">
                      <label class="lablena">Mother Toungue</label>
                      <select class="form-control nameia" >
                          <option>Telugu</option>
                          <option>Tamil</option>
                          <option>Kannada</option>
                      </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                        <label class="lablena">Lagnam</label>
                        <select class="form-control nameia" >
                            <option>Telugu</option>
                            <option>Tamil</option>
                            <option>Kannada</option>
                        </select>
            </div>
            <div class="form-group">
                          <label class="lablena">Raasi</label>
                          <select class="form-control nameia" >
                              <option>Meena</option>
                              <option>Thula</option>
                              <option>Kannada</option>
                          </select>
            </div>
            <div class="form-group">
                            <label class="lablena">Gothram</label>
                            <select class="form-control nameia" >
                                <option>Telugu</option>
                                <option>Tamil</option>
                                <option>Kannada</option>
                            </select>
            </div>
            <div class="form-group">
                              <label class="lablena">Material Gothram</label>
                              <input type="text" class="form-control nameia">
            </div>
            <div class="form-group">
                                <label class="lablena">Kuja Dosham</label>
                                <input type="radio" name="gender" value="male"> Yes
                                <input type="radio" name="gender" value="female"> No
            </div>
            <div class="form-group">
                                  <label class="lablena">Horoscope</label>
                                  <input type="radio" name="gender" value="male"> Yes
                                  <input type="radio" name="gender" value="female"> No
                                  <input type="radio" name="gender" value="other"> Doesn't Matter
             </div>
            </div>
          </form>
  </div>
  </div>