<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Astro</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Education</a></li>
      <li><a href="#">Location</a></li>
      <li><a href="#">Contacts</a></li>
      <li class="dropdown"><a href="#" >Preference <span class="glyphicon glyphicon-chevron-down"></span></a>
        <div class="dropdown-content">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </div></li>
    </ul>
  </div>
</nav>
