<div class="row astrocontent" id="Myfatherdetails">

<div class="col-md-8 asdetail">
  <h5>My Contacts</h5>
  <br>
  <form class="bodydetails">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="form-group">
          <label class="contactpart">Phone Nos Office</label>
          <input type="text" class="form-control contactparttype">
        </div>
        <div class="form-group">
          <label class="contactpart">Residence</label>
          <input type="text" class="form-control contactparttype">
        </div>
        <div class="form-group">
          <label class="contactpart">Mobile</label>
          <input type="text" class="form-control contactparttype">
        </div>
              <div class="form-group">
          <label class="contactpart">Email</label>
          <input type="text" class="form-control contactparttype">
        </div>
        <div class="form-group">
          <label class="contactpart">Secondary</label>
          <input type="text" class="form-control contactparttype">
        </div>
        <div class="form-group">
          <label class="contactpart">Permt Add</label>
          <textarea class="form-control contacttext" rows="5" id="comment" placeholder="Bengalore"></textarea>
        </div>
          <div class="form-group">
            <label class="contactpart">Notes</label>
            <textarea class="form-control contacttext" rows="5" id="comment" placeholder="Bengalore"></textarea>
          </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="contactpart">Languages Known</label>
          <input type="text" class="form-control contactparttype" placeholder="telugu">
        </div>
        <div class="form-group">
          <label class="contactpart">Read</label>
          <input type="text" class="form-control contactparttype">
        </div>
        <div class="form-group">
          <label class="contactpart">Write</label>
            <input type="text" class="form-control contactparttype">
        </div>
          <div class="form-group">
            <label class="contactpart">Diet</label>
          <select class="form-control contactparttype">
            <option>Both</option>
            <option>Hardware</option>
            <option>Government</option>
          </select>
          </div>
          <div class="form-group">
            <label class="contactpart">Smoker</label>
            <select class="form-control contactparttype">
              <option>Both</option>
              <option>Hardware</option>
              <option>Government</option>
            </select>
          </div>
          <div class="form-group">
            <label class="contactpart">Drinker</label>
            <select class="form-control contactparttype">
              <option>Both</option>
              <option>Hardware</option>
              <option>Government</option>
            </select>
          </div>
          <div class="form-group">
            <label class="contactpart">Body Type</label>
            <select class="form-control contactparttype">
              <option>Both</option>
              <option>Hardware</option>
              <option>Government</option>
            </select>
          </div>
          <div class="form-group">
            <label class="contactpart">Family Value</label>
            <select class="form-control contactparttype">
              <option>Both</option>
              <option>Hardware</option>
              <option>Government</option>
            </select>
          </div>
          <div class="form-group">
            <label class="contactpart">Write</label>
            <input type="checkbox" class="form-control contactpartcheck">
          </div>
            <div class="form-group">
              <label class="contactpart">Description</label>
              <textarea class="form-control contacttext" rows="5" id="comment" placeholder="Bengalore"></textarea>
            </div>
      </div>
    </div>
    </form>
    </div>
    </div>