<div class="row astrocontent" id="Myeducationdetails">
  <div class="col-md-8 asdetail">
      <h5>My Education</h5>
      <br>
      <form class="bodydetails">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="form-group">
              <label class="educatna">Category</label>
              <select class="form-control educatia">
                <option>Graduate</option>
                <option>Post Graduate</option>
                <option>Inter</option>
              </select>
            </div>
            <div class="form-group">
              <label class="educatna">Qualification Secondary</label>
              <select class="form-control educatia">
                <option>BA</option>
                <option>Post Graduate</option>
                <option>Inter</option>
              </select>
            </div>
            <div class="form-group">
              <label class="educatna">Qualification</label>
              <select class="form-control educatia">
                <option>Graduate</option>
                <option>Post Graduate</option>
                <option>Inter</option>
              </select>
            </div>
            <div class="form-group">
              <label class="educatna">University</label>
              <select class="form-control educatia">
                <option>Jntu</option>
                <option>kaakateeya</option>
                <option>osmaniya</option>
              </select>
            </div>
              <div class="form-group">
                <label class="educatna">Education</label>
                <input type="text" class="form-control educatia">
              </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="educatna">Job Location</label>
            <select class="form-control educatia">
              <option>hyd</option>
              <option>vj</option>
              <option>guntur</option>
            </select>
            </div>
            <div class="form-group">
              <label class="educatna">Company</label>
              <select class="form-control educatia">
                <option>Wipro</option>
                <option>Infosys</option>
                <option>Tcs</option>
              </select>
            </div>
            <div class="form-group">
              <label class="educatna">Currency</label>
            <select class="form-control educatia">
              <option>Rs</option>
              <option>Dollor</option>
              <option>rs</option>
            </select>
            </div>
              <div class="form-group">
                <label class="educatna">Monthly Income</label>
                <input type="text" class="form-control educatia">
              </div>
          </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
              <label class="educatnaqua">Qualification Details</label>
              <textarea class="form-control fathertextqua" rows="5" id="comment" placeholder="Bengalore"></textarea>
            </div>
              <div class="form-group">
                <label class="educatnaqua">Profission</label>
                <select class="form-control educatiait">
                  <option>Software</option>
                  <option>Hardware</option>
                  <option>Government</option>
                </select>
              </div>
              <div class="form-group">
                <label class="educatnaqua">Profession Details</label>
                <textarea class="form-control fathertextqua" rows="5" id="comment" placeholder="Bengalore"></textarea>
              </div>
              <div class="form-group">
                <label class="educatnaqua">Prop Type / Property in Lakhs</label>
                <select class="form-control educatiaitd">
                  <option>Software</option>
                  <option>Hardware</option>
                  <option>Government</option>
                </select>
                  <input type="text" class="form-control educatiait">
              </div>
              <div class="form-group">
                <label class="educatnaqua">Property Details</label>
                <textarea class="form-control fathertextqua" rows="5" id="comment" placeholder="Bengalore"></textarea>
              </div>
        </div>
      </form>
  </div>

</div>
 