/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body{
    color: #5501a9;
}
#commoncss{
    padding-left: 7%;
    width: 21%;
}
#commoncss li{
   width: 100%;
   background: #b97c0d;
   border-bottom: 2px solid #fff;
}
.navbar-inverse {
    background-color:transparent;
    border-color: transparent;
}
#commoncss .navbar-nav>li>a{
    line-height: 0%;
    color: #fff;
    /* border-top: solid 1px #ccc; */
    font-weight: bold;
}

#commoncss .container-fluid{
    padding: 0%;
}

.topclas{
    padding-left: 4.7%;
}
.factsheet{
    width: 100%;
    height: 150px;
}
.smatc{
    margin-top: 24px;
    color: #000;
}
.matchas{
    padding-right: 0;
    width: 11%;
}
.cperson{
    color: blue;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding-left: 35%;
    text-decoration: underline;
}
.asdetail{
    border: 2px solid #ccc;
}
.astrocontent{
    margin-right: 0%;
}
