
<div class="row astrocontent" id="Myeducationdetails">
  <div class="col-md-9 asdetail">
    <h5>My Basics</h5>
    <br>
    <form class="bodydetails">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="form-group">
            <label class="basicpart">Last Name</label>
            <select class="form-control basicparttype">
              <option>k</option>
              <option>L</option>
              <option>M</option>
            </select>
          </div>
          <div class="form-group">
            <label class="basicpart">First Name</label>
            <select class="form-control basicparttype">
              <option>Siva</option>
              <option>Raj</option>
              <option>Ram</option>
            </select>
          </div>
          <div class="form-group">
            <label class="basicpart">DOB & Age </label>
          <input type="text" class="form-control basicbirth">
          <input type="text" class="form-control basicbirth"><span>yrs</span>
          </div>
          <div class="form-group">
            <label class="basicpart">Contact Phone</label>
              <input type="text" class="form-control basicparttype">
          </div>
          <div class="form-group">
            <label class="basicpart">Contact Email</label>
                <input type="text" class="form-control basicparttype">
          </div>
        <!-- </div> -->
          <div class="form-group">
            <label class="basicpart">Height</label>
            <select class="form-control basicbirth">
              <option>5</option>
              <option>6</option>
              <option>7</option>
            </select>
              <input type="text" class="form-control basicbirth"><span>cm</span>
          </div>
          <div class="form-group">
            <label class="basicpart">Complexion</label>
            <select class="form-control basicparttype">
              <option>Fair</option>
              <option>Nonfair</option>
              <option>wight</option>
            </select>
          </div>
          <div class="form-group">
            <label class="basicpart">Marital status</label>
            <select class="form-control basicparttype">
              <option>Married</option>
              <option>UnMarried</option>
              <option>Never Married</option>
            </select>
          </div>
          <div class="form-group">
            <label class="basicpart">Region</label>
          <select class="form-control basicparttype">
            <option>Hindu</option>
            <option>Muslim</option>
            <option>Chrishtian</option>
          </select>
          </div>
          <div class="form-group">
            <label class="basicpart">Inter Caste</label>
            <input type="checkbox" class="form-control basicpartcheckbox">
          </div>
            <div class="form-group">
              <label class="basicpart">Caste</label>
              <select class="form-control basicparttype">
                <option>Kamma</option>
                <option>Reddy</option>
                <option>Kapu</option>
              </select>
            </div>
            <div class="form-group">
              <label class="basicpart">SubCaste</label>
              <select class="form-control basicparttype">
                <option>Kamma</option>
                <option>Reddy</option>
                <option>Kapu</option>
              </select>
            </div>
            <div class="form-group">
              <label class="basicpart">Contact Address</label>
              <textarea class="form-control basictext" rows="5" id="comment" placeholder="Bengalore"></textarea>
            </div>
          
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
          <div class="form-group">
          <img src="assets/images/011300534_FullPhoto.jpg">
          </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
               <button type="button" class="btn">Horo</button>
               <br>
               <br><br><br><br><br>
                <button type="button" class="btn">Zomm</button>
                  <button type="button" class="btn">Prev</button>
                    <button type="button" class="btn">Next</button>
              </div>
              <div class="form-group">
                <label >Photo Count</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-12">
            <div class="form-group">
              <label class="basicpart">Citizen of (country)</label>
              <select class="form-control basicparttype">
                <option>India</option>
                <option>America</option>
                <option>Canada</option>
              </select>
            </div>
            <div class="form-group">
              <label class="basicpart">Applicant status</label>
              <select class="form-control basicparttype">
                <option>Active</option>
                <option>Inactive</option>
                <option>Canada</option>
              </select>
            </div>
            </div>
        </div>
    </div>
    </form>
  </div>

</div>


<!-- <div class="col-md-6">

  <div class="canvas-container">
    <zoomable-canvas [image]="image" (topChange)="top = $event" (bottomChange)="bottom = $event"
      (leftChange)="left = $event" (rightChange)="right = $event" [(centerX)]="centerX" [(centerY)]="centerY"
      [(zoomLevel)]="zoomLevel" [maxZoom]="maxZoom" [minZoom]="0" (canvasWidthChange)="canvasWidth = $event"
      (canvasHeightChange)="canvasHeight = $event"></zoomable-canvas>
  </div>
  <br />
  <input type="range" min="0" step="0.05" max="{{ maxZoom }}" [(ngModel)]="zoomLevel"><br />
  <button type="button" class="btn" step="0.05" [(ngModel)]="zoomLevel">Zomm</button>
  <b>Zoom Level:</b> {{ zoomLevel | number:'1.2-2' }}<br />
  <b>Center:</b> ({{ centerX | number:'1.0-0' }}, {{ centerY | number:'1.0-0' }})<br />
  <b>Canvas dimensions:</b> {{  canvasWidth }} x {{ canvasHeight }}<br />
  <b>Image bounds:</b> ({{ left | number:'1.0-0' }}; {{ top | number:'1.0-0' }}; {{ right | number:'1.0-0' }};
  {{ bottom | number:'1.0-0' }})
</div> -->


<!-- npm i @angular/http -->
<!-- npm install --save @durwella/zoomable-canvas -->
<!-- https://github.com/Durwella/zoomable-canvas -->